{% extends 'base.html' %}
{% block title %}Level 1{% endblock %}

{% block content %}
<div class="txt">
    <p>Level {{level}} Natural Science</p>
 
    {% if question %}
    <form action="{{ url_for('main.natureScience_conf') }}" method="post">
        <div>
            <h2>{{ question.question }}</h2>
            <p>Choose an answer:</p>
            {% for option in question.shuffledOptions %}
                <label>
                    <input type="radio" name="answer" value="{{ option }}" required>
                    {{ option }}
                    <input type="hidden" name="qAnswer" value="{{question.correctAnswer}}">
                </label><br>
            {% endfor %}
        </div>
        <div class="button-wrapper">
            <input class="button" type="submit" value="Check">
            <input class="button" type="reset" value="Clear">
        </div>
        
    </form>
{% else %}
    <p>Failed to load question.</p>
{% endif %}
<img class="owl-img" src="{{ url_for('static', filename='images/nature.png') }}" alt="Wise Owl" draggable="false">
<div class="subject-progress-container">
    <div class="subject-progress-bar">
        <span class="subject-progress-text">{{natureScienceProgress}}%</span>
        <div class="subject-progress-fill" style="width: {{ natureScienceProgress }}%;"></div>
    </div>
    <div class="txt" style="margin-top: 5px;">
        <p class="spread-text">
            <span>Natural Science</span>
            <span>Level {{level}}</span>
            <span>Score = {{natureScienceScore}}</span>
        </p>
    </div>
</div>
{% endblock %}