{% extends 'base.html' %}
{% block title %}Level 1{% endblock %}

{% block content %}
<div class="txt">
    <p>Level {{level}} Natural Science</p>
    {% if question %}
    <form action="{{ url_for('main.natureScience_conf') }}" method="POST" style="text-align: center;">
        <div>
            <h2>{{ question.question }}</h2>
            <p>Choose an answer:</p>
            <input type="hidden" name="correctAnswer" value="{{ question.correctAnswer }}">
            <input type="hidden" name="userAnswer" id="selected-answer" required>
            <div class="options-grid">
                {% for option in question.shuffledOptions %}
                <button type="button" class="option-button" onclick="selectOption('{{ option }}', this)">
                    {{ option }}
                </button>
                {% endfor %}
            </div>

        </div>
    
        <br>
        <div class="button-wrapper">
            <input class="button" type="submit" value="Submit">
        </div>
    </form>
    <script>
        function selectOption(value, button) {
            document.getElementById('selected-answer').value = value;
            document.querySelectorAll('.option-button').forEach(btn => {
                btn.classList.remove('selected');
            });

            button.classList.add('selected');
        }
        document.querySelector('form').addEventListener('submit', function (e) {
                const selectedAnswer = document.getElementById('selected-answer').value;
                if (!selectedAnswer) {
                    e.preventDefault(); // Stop form from submitting
                    alert('Please select an option before submitting.');
                }
            });
    </script>
    {% else %}
        <p>Failed to load question.</p>
    {% endif %}

<img class="owl-img" src="{{ url_for('static', filename='images/nature.png') }}" alt="Wise Owl" draggable="false">
<div class="subject-progress-container">
    <div class="subject-progress-bar">
        {%if not isMaxLevel%} <span class="subject-progress-text">
            {{natureScienceProgress}}%
        </span>
        {%else%}
        <span class="subject-progress-text">
            Max Level Reached
        </span>
        {%endif%}
        <div class="subject-progress-fill" style="width: {{ natureScienceProgress }}%;"></div>
    </div>
    <div class="txt" style="margin-top: 5px;">
        <p class="spread-text">
            <span>Natural Science</span>
            <span>Level {{level}}</span>
            <span>Score = {{natureScienceScore}}</span>
        </p>
    </div>
</div>

{% endblock %}