{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block body_class %}about-page{% endblock %}

{% block content %}
<div class = "result">
	<h1>About</h1>
	Hoot's Challenge is a learning tool for children, that makes studying math and science more entertaining.
	This is how you use the Hoot's Challenge &#129417; 
	<p>Choose a subject you would like to practice on!</p>
	<p>Answer the questions to earn points &#129299;</p>
	<p>Gather points to pass level and get more challenging questions &#128515;</p>
</div>

{% endblock %}