{% extends 'base.html' %}
{% block title %}Your profile {% endblock %}

{% block content %}
<!--User page should include user's points, display their username, maybe email as well. User page can optionally allow you to change your password. -->
<div class="txt">
	<h3>Hi {{name}}</h3><br>
	<p>These are your scores so far: </p><br>
</div>
{% for subject in subjectsProgress %}
	<div style="display: inline-flex; margin-right: 30px; max-width: 400px;">
			<div class="result" style="margin-bottom: 20px;">
				<h2>{{subject.subjectName}}: Level {{ subject.level }}</h2>
				{% if not subject.isMaxLevel %}
					<p>{{ subject.nextLevelStart - subject.score }} points to next level</p>
				{% endif %}
				<span>Score = {{subject.score}}</span>
				<div class="progress-bar-wrapper">
					<div class="progress-bar-fill" style="width: {{ subject.progressPercentage }}%;"></div>
				</div>
				{% if subject.isMaxLevel %}
				<p class="max-level">🎉 Max level reached!</p>
				{% endif %}
			</div>
	</div>
{% endfor %}


{% endblock %}