{% extends 'base.html' %}
{% block title %}Level{% endblock %}

{% block content %}
<div class="{{ 'txtGreen' if isCorrect else 'txtRed' }}" style="margin-top:10px;">
	<h1>{{ feedbackString }}</h1>
	<p>
		You entered {{ result }}, which is {{ answer }}!
	</p>
	{%if isNewLevel%}
	<div style="text-align: center;">
		<p style="font-weight: bolder;">Congratulations you have reached level {{level}}!</p>
		<span style="font-size: larger;">&#127881;&#129321;</span>
	</div>
	{%endif%}
	<br><br>
</div>

	<span class = "emoji">&#{{emoji}};</span>
	<form action="{{url_for('main.math') }}">
		<div class="button-wrapper"><input class="button" type="submit" value="Go to next question!" /></div>
	</form>
{% if answer == "Correct"%}
<div id="points">+10 pts</div>
{% endif %}
<img class="owl-img" src="{{ url_for('static', filename='images/calculator.png') }}" alt="Wise Owl" draggable="false">
<div class="subject-progress-container">
	<div class="subject-progress-bar">
		
			{% if not isMaxLevel%} 
				<span class="subject-progress-text">{{mathProgress}}%</span>
			{% else %} 
				<span class="subject-progress-text">Max Level Reached</span>
			{% endif %}
		</span>
		<div class="subject-progress-fill" style="width: {{ mathProgress }}%;"></div>
	</div>
	<div class="txt" style="margin-top: 5px;">
		<p class="spread-text">
			<span>Math</span>
			<span>Level {{level}}</span>
			<span>Score = {{mathScore}}</span>
		</p>
	</div>
</div>
{% endblock %}