{% extends 'base.html' %}
{% block title %}Level{% endblock %}

{% block content %}
<div class="txt">
	<p>Level {{level}} math!</p>
	<h3>What is {{ a }} {{ op }} {{ b }}?
	</h3>
</div>
	<form action="{{url_for('main.math_conf')}}" method="post">
		<div class="input-group">
			<input type="number" name="result" placeholder="Enter Value..." value="" required>
		</div>
		<input type="hidden" name="ans" value={{ ans }}>
		<div class="button-wrapper">
			<input class="button" type="submit" value="Check!">
		</div>	
	</form>
{% endblock %}